<div *ngIf="headerFieldData">

<h1>Please make your selections</h1>

<h2> Filters</h2>

<ul>

	<li *ngFor="let field of filters; let i = index">
		<select [(ngModel)]="field.number">
			<option value="">Choose one</option>
			<option *ngFor="let fieldData of headerFieldData" value = {{fieldData.number}}>
			{{fieldData.name}} - {{fieldData.number}} 
			</option>
		</select>
		<select [(ngModel)]="field.comparator">
			<option value="">Choose one</option>
			<option value="=">=</option>
			<option value="!=">!=</option>
			<option value=">">></option>
			<option value="<"><</option>
		</select>
		<input type="text" [(ngModel)]="field.value" />
		
		<button (click)="add($event)">+</button>
		<button (click)="remove(i)">-</button>
	</li>
</ul>

<h2>Aggregators</h2>
<ul>
	
	<li *ngFor="let field of aggregators; let i = index">
		<select [(ngModel)]="field.number">
			<option value="">Choose one</option>
			<option *ngFor="let fieldData of headerFieldData" value = {{fieldData.number}}>
			{{fieldData.name}} - {{fieldData.number}} 
			</option>
		</select>
		<select [(ngModel)]="field.comparator">
			<option value="">Choose one</option>
			<option value="average">Average</option>
			<option value="sum">Sum</option>
			<option value="total">Total</option>
			<option value="min">Min</option>
			<option value="max">Max</option>
		</select>
		
		<button (click)="addAgg($event)">+</button>
		<button (click)="removeAgg(i)">-</button>
	</li>
</ul>

 <br/>
 
 <h2> Select input file to upload</h2>
 <input id="inputFile" type="file" />
 
 <button type="button" class="btn btn-success btn-s" (click)="submitFlow()">Run Analysis</button>
 
 </div>